<!-- <!DOCTYPE html>
<html lang="en" dir="ltr" class="crt">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
<head>
    <meta charset="utf-8">
    <title>Agent Portal</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <div class="{{category}}">{{message}}</div>
        {% endfor %}
    {% endwith %} -->
{% extends "base.html" %}
{% block content%}
        <form action="/login" method="post">
            <br><input type="text" name="codename" placeholder="Codename" value="{{codename}}"
            style="text-transform:uppercase" required>
            <br><input type="password" name="pass1" placeholder="Codephrase" required>
            <br><input type="submit" value="Login">
        </form>
        <div>New Agents register <a href="/register">here</a></div>
{% endblock %}
<!-- </body>
</html> -->
